
.box {
  background-image: url(../images/tigger65.jpg);
  background-repeat: no-repeat;

  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 800px;
}

.colored-section {
  background-color: #CDC2AE;
  font-family: "Montserrat"
  font-weight: bold;
}

h1 {
  padding: 1% 10%;
}

p {
  font-size: 1rem;
  padding: 1% 10%;
}
